:root {
  --accent-color: #ff6c00;
  --main-bg-color: #191c26;
  --secondary-bg-color: #f7f7f7;
  --dark-txt-color: #303030;
  --light-txt-color: #9da4bd;
  --rgba-light-txt-color: rgba(157, 164, 189, 0.12);
  --fast-anim: 150ms;
}

a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 31px;
    padding-right: 31px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 85px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

.socials__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 25px;
  margin: 0;
}

.socials__href {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.socials__svg {
  fill: currentColor;
}

.socials--barbers {
  color: var(--dark-txt-color);
}
.socials--barbers:hover, .socials--barbers:focus {
  color: var(--accent-color);
}

.socials--round {
  border-radius: 50%;
  background-color: #fff;
}

.transition-prop {
  transition-duration: var(--fast-anim);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, border-color, box-shadow;
}

.main-btn {
  width: 160px;
  height: 40px;
  border: 1px solid;
  background-color: transparent;
  border-color: var(--accent-color);
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-btn:hover, .main-btn:focus {
  background-color: var(--accent-color);
}

.main-btn--dark {
  color: var(--dark-txt-color);
}

.main-btn--ligth {
  color: #fff;
}

.main-btn--centrable {
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
}

.logo__svg {
  color: #fff;
  fill: currentColor;
}

.menu__svg {
  color: #fff;
  fill: currentColor;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.line--dark {
  display: flex;
  align-items: center;
}
.line--dark::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--dark-txt-color);
}

.line--ligth {
  display: flex;
  align-items: center;
}
.line--ligth::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--light-txt-color);
}

.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.--dark {
  color: var(--dark-txt-color);
}

.--little-dark {
  color: var(--light-txt-color);
}

.--ligth {
  color: #fff;
}

.comment {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.footer-wrapper {
  display: flex;
  padding: 44px 0;
  justify-content: space-between;
  height: 130px;
}

.footer__copyright {
  margin-top: auto;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  color: var(--dark-txt-color);
  letter-spacing: 0.2em;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: var(--light-txt-color);
  letter-spacing: 0.2em;
}

.footer__instagram {
  margin-right: 15px;
}

.line--black {
  display: flex;
  align-items: center;
}
.line--black::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  margin-right: 20px;
  background-color: #000;
}

@media screen and (min-width: 480px) {
  .line--black::before {
    content: "";
    display: inline-block;
    width: 60px;
  }
}
.hero {
  background-color: var(--main-bg-color);
  padding: 208px 30px 183px 30px;
  background-image: url("../images/mobile/hero/hero-slider-mob-slider1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.about-us__txt {
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.prices {
  background-color: var(--main-bg-color);
  background-image: url("../images/mobile/prices/prices-mob.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__list {
  padding: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-bottom: 50px;
}

.service__item {
  display: flex;
  justify-content: space-between;
}
.service__item:not(:last-child) {
  margin-bottom: 25px;
}

.service__line {
  margin: 0 10px;
  flex-grow: 1;
  border-bottom: 1px solid;
  border-color: var(--rgba-light-txt-color);
  display: flex;
  align-items: baseline;
}

.resume__comment {
  margin-bottom: 45px;
}

.resume__card-wrapper {
  display: flex;
  gap: 15px;
  align-items: start;
}
@media screen and (min-width: 480px) {
  .resume__card-wrapper {
    gap: 30px;
  }
}

.card__couple--rigth {
  margin-top: 15px;
}
@media screen and (min-width: 480px) {
  .card__couple--rigth {
    margin-top: 30px;
  }
}

.card__item {
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  min-width: 100px;
  min-height: 133px;
  padding: 20px 13px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .card__item {
    min-width: 130px;
    min-height: 133px;
    padding: 20px 35px;
  }
}

.card__count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
}
.card__count::after {
  content: "+";
  font-size: 13px;
  color: var(--accent-color);
  position: absolute;
}

.card__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

.barbers {
  background-color: var(--secondary-bg-color);
}

.title--barbers {
  margin-bottom: 40px;
}

.barbers__item {
  max-height: 502px;
}
.barbers__item:not(:last-child) {
  margin-bottom: 64px;
}

.barbers__photo {
  margin-bottom: 30px;
}

.barbers__name {
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-txt-color);
  margin-bottom: 8px;
}

.barbers__pos {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.pre-title--gallery {
  margin-bottom: 44px;
}

.gallery__item:not(:last-child) {
  margin-bottom: 30px;
}

.booking {
  background-color: var(--main-bg-color);
}

.book-form {
  display: block;
}

.book-form__wrapper {
  display: block;
  margin-bottom: 44px;
}

.book-form__input {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  margin-bottom: 44px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--rgba-light-txt-color);
}

.book-form__name {
  display: block;
  margin: 0;
}

.book-form__phone {
  display: block;
  margin: 0;
}

.book-form__label {
  font-size: 11px;
  line-height: 1.0714285714;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.book-form__message {
  color: var(--rga-light-txt-color);
  min-height: 60px;
  max-lines: 6;
  resize: none;
}

.contacts {
  background-color: var(--main-bg-color);
  background-image: url("../images/mobile/footer/footer-dg-mob.png");
}

.adresses__list {
  margin-bottom: 47px;
}

.adresses__item {
  display: flex;
  align-items: center;
}
.adresses__item:not(:last-child) {
  margin-bottom: 20px;
}

.adresses__svg {
  fill: currentColor;
}

.adresses__item--email {
  text-decoration: underline;
}

.work__label {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */