
.hero {
  background-color: var(--main-bg-color);
  padding: 208px 30px 183px 30px;
  background-image: url("../images/mobile/hero/hero-slider-mob-slider1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
