
.hero {
  background-color: var(--main-bg-color);
  padding: 208px 0px 183px 0px;
  background-image: url("../images/mobile/hero/hero-slider-mob-slider1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
