.prices {
  background-color: var(--main-bg-color);
  background-image: url("../images/mobile/prices/prices-mob.png");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}

.service__list {
  padding: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-bottom: 50px;
}
.service__item {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.service__line{
  margin: 0 10px;
  flex-grow: 1;
  

  border-bottom: 1px solid;
  border-color: var(--rgba-light-txt-color);
  display: flex;
  align-items: baseline;
}

