.resume__comment {
  margin-bottom: 45px;
}

.resume__card-wrapper {
  display: flex;
  gap: 15px;
  align-items: start;
  @media screen and (min-width: 480px) {
    gap: 30px;
  }
}
.card__couple--rigth {
  margin-top: 15px;
  @media screen and (min-width: 480px) {
    margin-top: 30px;
  }
}
.card__item {
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  min-width: 100px;
  min-height: 133px;
  padding: 20px 13px;
  text-align: center;
  //phone screen
  @media screen and (min-width: 480px) {
    min-width: 130px;
    min-height: 133px;
    padding: 20px 35px;
  }
}
.card__count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  &::after {
    content: "+";
    font-size: 13px;
    color: var(--accent-color);

    position: absolute;
  }
}
.card__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
