.prices {
  background-image: url(/src/images/mobile/prices/prices-mob.png);
  background-color: var(--main-bg-color);
  background-position: center;
  background-repeat: no-repeat;
}

.service__list {
  padding: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  margin-bottom: 50px;
}
.service__item {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.service__name {

}

.service__line{
  margin: 0 10px;
  flex-grow: 1;

  border-bottom: 1px solid;
  border-color: var(--light-txt-color);
  display: flex;
  align-items: baseline;
}
.service__cost {
}
