:root {
  // colors
  --accent-color: #ff6c00;
  --main-bg-color: #191c26;
  --secondary-bg-color: #f7f7f7;
  --dark-txt-color: #303030;
  --light-txt-color: #9da4bd;
  --rgba-light-txt-color: rgba(157, 164, 189, 0.12);

  --fast-anim: 150ms;
}
