.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
}

.logo__svg {
  color: #fff;
  fill:currentColor;
}

.menu__svg {
  color: #fff;
  fill:currentColor;
}