.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 40px 48px;
  background-color: #fff;
  z-index: 100;

  transform: translateX(150%);
  transition: transform 250ms;
}

.menu--current-page {
  color: var(--main-links-color);
}

.is-open {
  transform: translateX(0);
  z-index: 10000;
}

.mobile-menu__nav {
  margin-bottom: 300px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__item__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
}

.mobile-nav__item__link:focus {
  color: var(--main-links-color);
}

.mobile-adresses__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__adresses {
  margin-bottom: 65px;
}

.adresses__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--main-links-color);
}

.adresses__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
}

.mobile-menu__mobile-socials {
  display: flex;
  margin-top: auto;
}

.mobile-socials__item:not(:last-child) {
  border-right: solid 1px;
  border-color: rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--main-links-color);
}
