.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
}

.logo {
}
.logo__svg {
  color: #fff;
  fill:currentColor;
}
.menu {
}
.menu__svg {
  color: #fff;
  fill:currentColor;
}